.page-item.active .page-link{
    background-color: rgb(243, 140, 14) !important;
    border-color:rgb(22, 114, 40) !important;
  }
  .page-link{
    color: rgb(22, 114, 40) !important;
  }
  /*
   .paginate_button:hover{
    border: rgb(239, 242, 240) !important;
   }
   .pagination>li>a, .pagination>li>span{
    color:1px solid red !important; */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none !important;
  color: rgb(22, 114, 40)!important;
}
    /* .pagination>li>a, .pagination>li>span{
    color:1px solid red !important
    }
    /*change the hover text color*/
  
  
  /*below block of css for change style when active*/
  
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
background: none ;
color: rgb(22, 114, 40)!important;
} 
.dataTables_filter>input{
margin-left: 0em !important;
}
.dataTables_wrapper .dataTables_filter{
  text-align: left !important;
}
.dt-buttons{
  margin-bottom: 3em !important;
}
.dt-buttons >button{
  background-color: white !important;
  border-color: green !important;
  border-radius: 10%;
}