<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> 



<div class="row">
    <div class="col-lg-12">
        <h3>rgresefewFarms to Food Banks Impact Report for 2022-2023 </h3>
    </div>
</div>
<br>
  <div class="sec-summary pt-0">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <!-- <span class="iconbox"><img src="assets/images/icons/summary/8.png" alt="" /></span> -->
          <div class="gradientBox-content">
            <h5 class="title">Protein Meals Supplemented</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Protein Pounds Purchased</h5>
          
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <span class="iconbox"><img src="assets/images/icons/summary/5.png" alt="" /></span>
          <div class="gradientBox-content">
            <h5 class="title">Produce Meals Supplemented</h5>
           
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Produce Pounds Purchased</h5>
           
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="sec-summary pt-0">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <!-- <span class="iconbox"><img src="assets/images/icons/summary/8.png" alt="" /></span> -->
          <div class="gradientBox-content">
            <h5 class="title">Types of Produce Purchased</h5>
           
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Participating Growers</h5>
        
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <!-- <span class="iconbox"><img src="assets/images/icons/summary/5.png" alt="" /></span> -->
          <div class="gradientBox-content">
            <h5 class="title">Participating Counties</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Total in Purchases</h5>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
<div class="row">
    <div class="col-lg-12">
        <!-- <h3>KY Kids Eat Impact Report for {{kyke_funding_period}}</h3> -->
    </div>
</div>
<br>
  <div class="sec-summary pt-0">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <span class="iconbox"><img src="assets/images/icons/summary/8.png" alt="" /></span>
          <div class="gradientBox-content">
            <h5 class="title">Meals Supplemented</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Produce Pounds Purchased</h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <span class="iconbox"><img src="assets/images/icons/summary/5.png" alt="" /></span>
          <div class="gradientBox-content">
            <h5 class="title">Types of Produce Purchased</h5>
   
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="gradientBox white-bg">
          <div class="gradientBox-content">
            <h5 class="title">Total in Purchases</h5>
        
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
