{%extends 'base.html' %}
{% block main %}
        <!-- <p>Total cost: {{searchResults}}</p> -->
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">County</th>
                <th scope="col">Number of farmers</th>
              </tr>
            </thead>
            <tbody>
                {% for searchResult in searchResults %}
              <!-- <tr>
                <td>{{searchResult.foodID}}</td>
                <td>{{searchResult.foodType}}</td>
              </tr> -->
              <tr>
                <td>{{searchResult.invoiceNo}}</td>
                <td>{{searchResult.totalCost}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
       


{%endblock%}