{%extends 'base.html' %}
{% block main %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">County</th>
                <th scope="col">Number of farmers</th>
              </tr>
            </thead>
            <tbody>
                {% for searchResult in searchResults %}
              <tr>
                <td>{{searchResult[0]}}</td>
                <td>{{searchResult[1]}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>


{%endblock%}